* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  outline: none;
  transition: all 0.2s ease;
}
*::-webkit-scrollbar {
  display: none;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: #ffff00;/*?*/
}
img {
  height: auto;
  width: 100%;
  object-fit: cover;
  
}
.container {
  position: relative;
  height: 100vh;
  width: 170vw;
  
}
#particles-js {
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("https://media.s-bol.com/qnZ9P6oRv7Qy/zpv0AEY/1200x1151.jpg"); /*фоновая картинка или цвет*/
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  );
  height: 100vh;
  width: 100vw;
  z-index: -9999;
  
}

/* 750 x 384 */

.spotify-player {/*кнопки на плеере*/
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 450px;/*высота плеера*/
  width: 300px;
  padding: 15px;
  border-radius: 3px;
  background-color: #;/*фон под песнями в плейлисте*/
  /* background: linear-gradient(
		#664246 0%,
		#181615 100%
    ); 
  box-shadow: 0 0 15px #ffff00;*/
  color: #ffffff;/*цвет кнопок на плеере и заголовке*/
  overflow: hidden;
  margin-left:-200px;/*перемещение блока влево или вправо*/
}
.music-player {
  padding: 20px;/*отступ в плеере от верха*/
  position: absolute;
  bottom: 0;
  left: 0px;
  height: 100%;
  width: 100%;
}
.music-playlist {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  top: -100%;
  left: 0%;
  height: 100%;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  background: #ffcocb;
  background: #a52a2a00;/*фон плейлиста добавить 00 будет прозрачным*/
  z-index: 3;
  color: #ffffff;/*цвет текста в плейлисте*/
  transition: all 0.2s ease;
  overflow: hidden;
}

.music-player.open {
  height: 70px;
  display: flex;
  width: 300px;/*размер блока активной песни*/
  left: 4px;
  flex-direction: row;
  bottom: 0;
  border-radius: 10px 10px 0;
  overflow: hidden;
 /* box-shadow: 0 0 54px #ffff00; тень внизу плейлиста*/
  z-index: 3;
}

.music-player.open .loop-btn,
.music-player.open .shuffle-btn,
.music-player.open .player-header,
.music-player.open .music-time,
.music-player.open i.fa,
.music-player.open .music-current-length-circle {
  display: none;
}
.music-player.open .bg {
  filter: blur(0px);
  
}
.music-player.open i.play-btn {
  display: block;
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 30px;
  
}
.music-player.open .heart-btn {
  display: block;
  position: absolute;
  right: 160px;
  bottom: 18px;
  font-size: 30px;
  transform: scale(1.5);
}
.music-player.open .heart-btn i {
  display: block;
}
.music-player.open .player-center {
  height: 55px;
  width: 55px;
  border-radius: 5px;
  position: absolute;
  transform: translate(-65px, 45px);
  bottom: 60%;/*положение фото активном блоке плейлиста*/
  left: 70px;
  overflow: hidden;
}

.music-player.open .player-center img {
  height: 55px;/*размер фото активной песни*/
  width: 55px;
}

.player-center img {
  height: 100%;/*размер фото на плеере   300px*/
  width: 100%;
}

.music-player.open .music-info {
  position: absolute;
  bottom: -21px;
  transform: translateY(-50%);
  left: 90px;
}
.music-player.open .music-name {
  font-size: 13px;
 
}
.music-player.open .artist-name {
  font-size: 10px;
  margin-top: 10px;
  color:#ffffff;
}
.music-player.open .timebar {
  position: relative;
  width: 95%;
  border-radius: 50px;
  padding: 1px;
  background-color: rgba(204, 204, 204, 1);
  cursor: pointer;
}
.music-player.open .music-timebar {
  position: absolute;
  bottom: -10px;
  width: 100%;
  left: 5px;
}
.music-player.open .music-timebar .music-current-length {
  border-radius: 1px;
  padding: 1px;
}
.music-playlist.open {
  top: 0;
  z-index: 2;
 
}
.playlist-header {
  height: 40px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:#ffffff;/*цвет меню открыть плейлист и выбрать песню*/
}
.playlist-header i.fa {
  font-size: 18px;
  cursor: pointer;
  
 
}

.playlist {
  margin-top: 20px;
  height: 100%;
  padding: 0 15px;/*отступ слева*/
  overflow-y: scroll;
  box-shadow: inset 0 0 10px #ffffff;/*тень плейлиста*/
  margin-bottom: 70px;
  border-radius:10px;/*скруглить углы плейлиста*/
  
}

.playlist .playlist-item {
  display: grid;
  width: 100%;
  text-align: left;
  align-items: center;
  height: 55px;/*высота блоков в плейлисте под фото и текстом*/
  cursor: pointer;
  grid-template-columns: 1fr 4fr 1fr 1fr;
}

.playlist .playlist-item-poster {
  height: 30px;/*размер фото в плейлисте*/
  width: 30px;
  border-radius: 5px;
  overflow: hidden;
}
.playlist .playlist-item-info {
  margin-left: 20px;/*смещение текста в плейлисте*/
}

.playlist .playlist-item-name {
  font-size: 13px;/*название песни*/
}

.playlist .playlist-artist-name {
  font-size: 12px;/*исполнитель*/
}
.playlist-item-menu-btn,
.playlist-heart-btn {
  display: grid;
  place-items: center;
  
}

.playlist i.fa {
  font-size: 14px;/*сердце в плейлисте*/
  cursor: pointer;
}

.playlist-close-btn i.fa {
  font-size: 25px;/*три точки*/
}

.playlist .playlist-heart-icon {
  color: #18c8fd;/*цвет сердца в пл листе*/
}

.playlist .playlist-item-poster img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.music-player::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius:10px;
  background: url("") /*гиф фон плеера */ 
    0 / cover;
  z-index: -1;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 0px;/*при значении 100% будет виден цвета фона плеера */
  height: 100%;
  object-fit: cover;
  z-index: -2;
  filter: blur(0px);/*блок активной песни в плейлисте*/
}

/* player header */
.player-header {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  margin-top:-10px;
}

.player-header i.fa {
  font-size: 25px;/*кнопка открыть пл лист на плеере*/
  color:#ff0000;
  cursor: pointer;
}

.player-header p {
  text-transform: capitalize;
  text-align: center;
  font-size: 14px;/*заголовок текста на плеере*/
  
  
}
.player-header p.playing-from {
  text-transform: uppercase;
}

/* player center  */
.player-center {
  position: relative;
  width: 200px;/*размер фото исполнителя на плеере*/
  height: 200px;
  margin: 10px auto;
  overflow: hidden;
  box-shadow: 0 0 10px #ffffff;/*тень вокруг фото*/
  border-radius:10px;
 /*background:url(https://www.yapfiles.ru/files/3143954/_bryancev_e_kasyanova.jpg)  0 / cover;/*заставка фона*/
  
  
}
.player-center::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  z-index: 3;
  
  
}
.poster-container {
  position: relative;
  left: 0%;
  display: flex;
  height: 100%;
  width: 100%;
  margin: auto;
  transition: all 0.2s ease;
}
.poster {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* player footer */

.player-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  justify-content: space-around;
}

.music-info {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
}

.music-info .music-name {
  font-size: 20px;
  color: #7fff00;/*назнание песни на плеере*/
  margin-top:-10px;/*поднять текст на плеере*/
}

.music-info .artist-name {
  font-size: 15px;
  color: #7fff00;/*исполнитель*/
}

.music-info .heart-btn i.fa {
  color: #7fff00;/*цвет сердечка на плеере*/
  font-size: 15px;/*размер*/
  cursor: pointer;
}

.music-info .heart-btn.liked i.fa {
  color: #1db954;
}

.music-timebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
}
.music-timebar .timebar {
  position: relative;
  width: 100%;
  border-radius: 50px;
  padding: 1px;
  background-color: #a75fb0;/*линия проигрывания*/
  cursor: pointer;
}

.music-current-length {
  position: absolute;
  top: 55%;
  left: 0%;
  transform: translate(0%, -50%);
  border-radius: 50px;
  padding: 2px;
  background-color: #ff0000;/*линия проигрывания*/
}
.music-current-length-circle {
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
  border-radius: 50px;
  padding: 4px;
  background-color: #a75fb0;/*бегунок*/
}
.music-time {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
  font-size: 12px;
  color:#ffffff;/*время проигрывания*/
}

/* music controls */
.music-controls {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.music-controls .main-control {
  display: flex;
  height: 100%;
  align-items: center;
  width: 60%;
  justify-content: space-around;
}
.music-controls i.fa {
  cursor: pointer;
  font-size: 25px;
}
.music-controls div.active {
  position: relative;
  color: #008000;/* кнопка shuffle-перемещать*/
}
.music-controls div.active::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 3px;
  background-color: #0000ff;
  color: #ffffff;/*точки под кнопками*/
  border-radius: 50px;
}

.music-controls .loop-btn {
  font-size: 30px;
  color:#ff0000;
}
.music-controls i.play-btn {
  font-size: 50px;/*размер plau pause*/
  color:#ff0000;
}

.music-info-window {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  background:#7fff00;
}