* {
  margin: 0px;
  padding: 0px;
}
body {
  background: #0D1A22;
  padding: 5px;
  text-align: center;
  color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*background: radial-gradient(#333, hsl(200, 30%, 6%)); */ 
}

.video-js .vjs-control-bar {
  display: -webkit-box;
  /*display: -webkit-flex;*/
  /*display: -ms-flexbox;*/
  /*display: flex;*/
}
a,
a:hover,
a:visited {
  color: #76daff;
}

ul {
 list-style-type: none;
  float: left;
  display: flex;
  flex-wrap: wrap;
  /*margin: 20px;*/
  margin-top: 10px;
}


li img {
  /*float: left;*/
  width: 60px;
  height: 60px;
  margin: 5px;
  border: 3px solid #fff;
 
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
 
li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}

.button{
  display: flex;
  font-family: "Oswald", sans-serif;
  font-size: 32px;
  background-color: #0D1A22;
  /*float: left;*/
  margin-top: 35px;
  margin-bottom: 15px;
  border : none;
  color: #eee;
  width: -webkit-fill-available;
  cursor: pointer;
  }


.slugify {
  /*background-color: yellow;*/
  /*font-weight: 600;*/
  display: none;
  border: none;
  background-color: #0D1A22;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px;